body, html {
height: 100%;
margin: 0;
background-image: url("../images/About\ Me\ BG.png");

}
.bg{

height: 100vh; 
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.logo{
margin: 2%;
float: left;
}
*{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
color: white;
}
#navbar{
width:100%;
height:100vh;
}
nav{
width: 100%;
height: 50px;
background-color: #0005;
line-height: 50px;
}
nav ul{
float: right;
margin-right: 30px;
}
nav ul li{
list-style-type: none;
display: inline-block;
transition: 0.7s all;
border-left: 2px solid white;

}
nav ul li:hover{
background-color:#088;
}
nav ul li a{
text-decoration: none;
color: #fff;
padding: 30px;
}
.num{
padding-left: 30px;
}
.intro{
text-align: center;
margin-top: -35%;
font-size:150%;
margin-left: 20%;
}
.intro h1{
    text-decoration: underline;
}
.vertline1{
border-left: 3px solid rgb(255, 255, 255);
height: 190px;
margin-left: 2%;
margin-top: -26%;
}
.vertline2{
border-left: 3px solid rgb(255, 255, 255);
height: 190px;
margin-left: 2%;
}
.logo3{
padding-left: 10px;
padding-bottom: 10px;
}
.icons img{
height: 1.5%;
margin-left: 12px;
margin-top: 10px;
}
footer {
text-align: left;
padding: 15px;
background-color: rgb(0, 0, 0);
color: white;
opacity: 0.5;
}
.pose1{
position: absolute;
width: 35%;
height: 620px;
overflow: hidden;
top: 13vh;
margin-right: 65%;
}
.pose1 img{
max-width: 100%;
height: auto;
display: block;
float: right;
}