body, html {
margin: 0;
background-image: url("../images/Skills\ BG.png");
background-position: center;
background-repeat: no-repeat;
background-size: cover;

}
.logo{
margin: 2%;
float: left;
}
*{
margin:0;
padding:0;
font-family:Arial, Helvetica, sans-serif;
color: white;
}
#navbar{
width:100%;
height:100vh;
}
nav{
width: 100%;
height: 50px;
background-color: #0005;
line-height: 50px;
}
nav ul{
float: right;
margin-right: 30px;
}
nav ul li{
list-style-type: none;
display: inline-block;
transition: 0.7s all;
border-left: 2px solid white;

}
nav ul li:hover{
background-color:#088;
}
nav ul li a{
text-decoration: none;
color: #fff;
padding: 30px;
}
.num{
padding-left: 30px;
}
.intro{
margin-top: -40%;
font-size:150%;
margin-right: 50%;
}
.intro h1{
    text-decoration: underline;
}
.sideline{
    position: absolute;
    margin-top: -77%;
    padding-left: 1%;
}
.vertline1{
border-left: 3px solid rgb(255, 255, 255);
height: 445px;
margin-left: 45%;

}
.vertline2{
border-left: 3px solid rgb(255, 255, 255);
height: 445px;
margin-left: 45%;
}
.logo3{
padding-left: 10px;
padding-bottom: 10px;
}
.icons img{
height: 1.5%;
margin-top: 10px;
}

table{
    margin-left: 20%;
    margin-right: 20%;
}
td img{
    width: 100px;
    margin-left: 20px;
}
td p, h1,h2,h3,h4{
    text-align: center;
}
footer {
text-align: left;
padding: 15px;
background-color: rgb(0, 0, 0);
color: white;
opacity: 0.5;
}
.desc{
    width: 30%;
}
.skill{
    width: 10%;
}
.date{
    width: 20%;
}
